spring:
  datasource:
    url: jdbc:h2:mem:currencydb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
nbp:
  base-url: http://api.nbp.pl
  tables-a-path: /api/exchangerates/tables/A?format=json
